certifi==2018.4.16
chainmap==1.0.2
chardet==3.0.4
combomethod==1.0.10
dominate==2.3.1
idna==2.6
nulltype==2.2.11
numpy==1.14.3
options==1.4.8
Pillow==8.3.2
pyzmq==17.0.0
requests==2.18.4
scipy==1.1.0
six==1.11.0
torch==0.4.0
torchfile==0.1.0
torchvision==0.2.1
tornado==5.0.2
urllib3==1.22
visdom==0.1.8.3
websocket-client==0.47.0
